@charset "utf-8";

html,body{
    width:100%;
    height:100%;
	background-color: #ffffff;
	color:#333333;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"新宋体";
	font-size:15px;
}

#mark-wrap{
	width:334px;
	height:auto;
}

#store-title{
	height:30px;
	line-height:30px;
	text-align:center;
}

input[type=input]{
	width:280px;
	height:24px;
}

.add-p{
	margin-bottom:4px;
}

#btn-p{
	text-align:center;
}

input[type=button]{
	color:#333333;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"新宋体";
	font-size:15px;
}

#btn-mark{
	margin-right:44px;
}









